<!DOCTYPE html> 
<html>


<%# Partials have been introduced so that the rendering can be split into different sections
    This can be useful as sometimes we may only need to render certain pieces of code
    This cuts down on reusing code. -%>




<head>
    <title><%= @title %></title>
    <%= csrf_meta_tag %>
    <%= render 'layouts/stylesheets' %> <%# Renders the _stylesheets partial. -%>
</head>

<body>
    <div class="container">
        <%= render 'layouts/header' %> <%# Renders the _header partial. -%> 
        <section class="round">
            <%= yield %>
        </section>
        <%= render 'layouts/footer' %> <%# Renders the _footer partial. -%>
    </div>
</body>

</html>